.background { background: rgb(52, 166, 251);
  table-layout: fixed;
  border-spacing: 0;
}

.background td {
  padding: 0;
}

.lava {
  background: rgb(255, 100, 100); 
}

.wall {
  background: white;
}

.actor {
  position: absolute;
}

.coin {
  background: rgb(241, 229, 89);
}

.player {
  background: rgb(64, 64, 64);
}

.lost .player {
  background: rgb(160, 64, 64);
}
  
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  font-family: sans-serif;
}

footer {
  text-align: center;
  margin-top: auto;
  padding: 10px;
  font-size: 1.5rem;
  color: rgb(52, 166, 251);
}

.container {
  max-width: 1000px;
  display: flex;
}

.life-div, .level-div {
  margin: 50px;
  text-align: center;
  font-size: 1.2rem;
}

.level, .lives {
  background-color: rgb(52, 166, 251);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  margin-top: 10px;
}